//  Proxima Nova

@font-face {
	font-family: 'TTCommons';
	src: url("../css/fonts/TTCommons-Regular.woff2") format("woff2"), url("../fonts/TTCommons-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'TTCommons';
	src: url("../css/fonts/TTCommons-Medium.woff2") format("woff2"), url("../fonts/TTCommons-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'TTCommons';
	src: url("../css/fonts/TTCommons-Bold.woff2") format("woff2"), url("../fonts/TTCommons-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'DrukTextWideCyr';
	src: url("../css/fonts/DrukTextWideCyr-Medium.woff2") format("woff2"), url("../fonts/DrukTextWideCyr-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DrukTextWideCyr';
	src: url("../css/fonts/DrukTextWideCyr-Bold.woff2") format("woff2"), url("../fonts/DrukTextWideCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: url("../css/fonts/TTNorms-Regular.woff2") format("woff2"), url("../fonts/TTNorms-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'TTNorms';
	src: url("../css/fonts/TTNorms-Bold.woff2") format("woff2"), url("../fonts/TTNorms-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}