{%
    set data =  [

	{
		title: 'Интернет-маркетинг',
		text: 'Научитесь формировать стратегию продвижения продукта и&nbsp;освоите инструменты для ее&nbsp;реализации. Поймете, как создавать контент для различных каналов коммуникации и&nbsp;сегментировать аудиторию, и&nbsp;запустите первые рекламные кампании.'
	},
	{
		title: 'Веб-дизайн и разработка сайтов',
		text: 'Получите навыки верстки сайтов с&nbsp;помощью HTML5 и&nbsp;CSS3. Научитесь программировать на&nbsp;языке JavaScript и&nbsp;PHP, создавать дизайн и&nbsp;графику в&nbsp;Adobe Photoshop.'
	},
	{
		title: 'Организация закупок, товаров, работ и&nbsp;услуг отдельными видами юридических лиц',
		text: 'Освоите навыки планирования и&nbsp;осуществления закупок, заключения и&nbsp;исполнения договоров.'
	},
	{
		title: 'Кадровое делопроизводство',
		text: 'Научитесь вести и&nbsp;заполнять организационную и&nbsp;распорядительную документацию по&nbsp;персоналу, рассчитывать отпуски, командировочные, поощрения, дисциплинарные взыскания, больничные листы.'
	},
	{
		title: 'Управление персоналом организации',
		text: 'Научитесь разрабатывать стратегию развития персонала, систему мотивации и&nbsp;стимулирования работы персонала. Освоите методику управления конфликтами, проведения собеседований и&nbsp;подбора персонала.'
	},
	{
		title: 'Компьютерная графика и&nbsp;графический дизайн',
		text: 'Получите навыки создания векторной и&nbsp;растровой графики в&nbsp;Adobe Photoshop, Adobe Illustrator, Adobe InDesign. Научитесь работать с&nbsp;типографикой.'
	},
	{
		title: 'Логистика',
		text: 'Научитесь формировать логистику компании, разрабатывать и&nbsp;внедрять методы управления материальными потоками. Освоите анализ полной стоимости логистических затрат и&nbsp;оценку логистических рисков.'
	},
	{
		title: 'Продвинутый пользователь ПК',
		text: 'Научитесь работать с&nbsp;операционной системой Microsoft Windows и&nbsp;установленными программами. Освоите работу с&nbsp;текстовым редактором MS&nbsp;Word, электронными таблицами MS&nbsp;Excel и&nbsp;облачными хранилищами данных. Создадите презентации в&nbsp;программе MS&nbsp;Power Point.'
	},
	{
		title: 'Пользователь Microsoft Office',
		text: 'Научитесь работать с&nbsp;текстами в&nbsp;MS&nbsp;Word, таблицами, формулами и&nbsp;диаграммами в&nbsp;MS&nbsp;Excel, создавать эффективные презентации в&nbsp;MS&nbsp;PowerPoint. Овладеете навыками работы с&nbsp;электронной корреспонденцией и&nbsp;другим функционалом программы MS&nbsp;Outlook.'
	},
	{
		title: 'Управление продажами',
		text: 'Научитесь разрабатывать и&nbsp;внедрять регламенты в&nbsp;отдел продаж, систему мотивации менеджеров по&nbsp;продажам и&nbsp;оценки их&nbsp;результатов. Освоите навыки ведения переговоров, общения с&nbsp;командой и&nbsp;заказчиками.'
	}

]

%}