.header {
    width: 100%;
    min-height: 112px;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 9999;
    position: fixed;
    max-width: 1920px;
    margin: 0 auto;
    transition: all ease .3s;
    &.active {
        background: #000;
        min-height: 90px;
    }
    &__logo {
        margin-right: 42px;
    }
    &__box {
        max-width: 100%;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }

    &__link {
        font-weight: bold;
        font-size: 22px;
        color: #d0d1d9;
        display: block;
        &:hover, &:focus, &:active {
            color: #d0d1d9;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: auto;
        height: 36px;
        max-width: 286px;
        width: 100%;
        a {
            height: 100%;
            font-size: 14px;
            line-height: 100%;
            
            
        }
        &-login {
            color: #ffffff;
            max-width: 133px;
        }
        &-reg {
            color: #000000;
            background: #FFFFFF;
            max-width: 133px;
            &:hover, &:focus, &:active {
                color: #000000;
            }
        }
    }
}
