@import "var";
@media (max-width: 1199px) {
    .container {
        max-width: 785px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 29px;
    }
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
    .fixed {
        display: flex;
    }
}

@media (max-width: 575px) {
    .title {
        margin-bottom: 41px;
    }
}
