.footer {
    @media (max-width: 1199px) {
        &__logo {
            max-width: 70px;
        }
        &__link {
            font-size: 14.0276px;
            &:first-child {
                margin-right: 28px;
            }
        }
    }

    @media (max-width: 991px) {
    }

    @media (max-width: 767px) {
        padding: 27px 0 110px;
        &__logo {
            max-width: 39px;
        }
        &__link {
            font-size: 8px;
            line-height: 9px;
            &:first-child {
                margin-right: 5px;
            }
        }
    }

    @media (max-width: 575px) {
    }
}
