.price {
  @media (max-width: 1199px) {
    padding: 20px 0;
    &__box {
      grid-column-gap: 20px;
    }
    .price-card {
      border: 1px solid #000000;
      padding: 20px;
      border-radius: 1.32632px;
      &:hover {
        padding: 16px;
      }
      &__header {
        &-title {
          font-size: 20px;
        }
        &-price {
          font-size: 20px;
          margin-top: 5px;
        }
      }

      &__text {
        font-size: 14px;
        line-height: 130%;
      }
      &__body {
        li {
          font-size: 12px;
          line-height: 120%;
        }
      }

      &__button {
        height: 40px;
        font-size: 11.9368px;
      }
    }
  }
  @media (max-width: 991px) {
  }
  @media (max-width: 767px) {
    padding: 50px 0;
    &__box {
      grid-template-columns: repeat(1, 210px);
      justify-content: center;
    }
    &::after,
    &::before {
      top: -168px;
      left: -100%;
    }

    .price-card {
      border-radius: 1.16111px;
      &__header {
        min-height: 75px;
        &-title {
          font-size: 17.1584px;
          line-height: 155%;
        }
      }

      &__text {
        font-size: 10.5px;
        line-height: 130%;
        margin-bottom: 20px;
      }

      &__body {
        padding-left: 20px;
      }

      &__button {
        height: 35px;
        font-size: 10.5px;
      }
    }
  }
  @media (max-width: 575px) {
  }
}
