.price {
    position: relative;
    padding: 47px 0;
    background: url("../img/price/fon.png") no-repeat center center / cover;
    .container {
        position: relative;
        z-index: 4;
    }
    &::after {
        content: url('../img/price/fonTop.png');
        position: absolute;
        top: -190px;
        left: 0;
        z-index: 1;
    }
    &::before {
        content: url('../img/price/fonBottom.png');
        position: absolute;
        bottom: -200px;
        left: 0;
        z-index: 1;
    }
    &__title {
        color: #191919;
    }
    &__box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 17px;
        position: relative;
        z-index: 1;
    }

    .price-card {
        border: 1px solid #000000;
        border-radius: 2px;
        transition: all ease .3s;
        padding: 25px;
        display: flex;
        flex-direction: column;
        background: #fff;
        &:hover {
            border: 5px solid $red;
        }
        &__header {
            text-align: center;
            min-height: 100px;
            &-title {
                font-weight: 500;
                font-size: 29.4144px;
                line-height: 155%;
                font-family: $DrukTextWideCyr;
            }

            &-price {
                font-weight: bold;
                font-size: 28px;
                line-height: 128%;
                text-transform: uppercase;
                color: $red;
                margin-top: 10px;
            }
        }

        &__text {
            font-weight: bold;
            font-size: 18px;
            line-height: 130%;
            margin-bottom: 34px;
            display: block;
            font-family: $TTNorms;
        }

        &__body {
            margin-bottom: 40px;
            padding-left: 30px;
            li {
                font-size: 16px;
                line-height: 120%;
                font-family: $TTNorms;
                margin-bottom: 20px;
                list-style: disc;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &__button {
            font-weight: 500;
            font-size: 18px;
            color: #ffffff;
            font-family: $DrukTextWideCyr;
            height: 60px;
            margin-top: auto;
        }
    }
}
