{% set data = [

    {
        title: 'Бесплатно',
        price: '',
        text: 'Оформляйте подписку на&nbsp;месяц и&nbsp;получай доступ ко&nbsp;всем прямым эфирам турниров ММА',
        button: 'Регистрация',
        body: '
            <li>Доступ к&nbsp;экслюзивным новостям, мастер-классам, обучающему контенту и&nbsp;прямым эфирам со&nbsp;всей России</li>
            <li>Уроки от&nbsp;лучших представителей российской школы единобрств</li>
        '
    }, {
        title: 'Ежемесячно',
        price: '190 ₽',
        text: 'Оформляйте подписку и&nbsp;получай доступ ко&nbsp;всем прямым эфирам турниров ММА',
        button: 'Скоро',
        body: '
            <li>Доступ к&nbsp;экслюзивным новостям, мастер-классам, обучающему контенту и&nbsp;прямым эфирам со&nbsp;всей России</li>
            <li>Уроки от&nbsp;лучших представителей российской школы единобрств</li>
            <li>Полный архив соревнований и&nbsp;мастер-классов</li>
            <li>Доступ к&nbsp;первому в&nbsp;России онлайн &laquo;Факультету ММА&raquo;</li>
        '
    }, {
        title: 'Ежегодно',
        price: '990 ₽',
        text: 'Оформляйте подписку на&nbsp;месяц и&nbsp;получай доступ ко&nbsp;всем прямым эфирам турниров ММА',
        button: 'Скоро',
        body: '
            <li>Доступ к&nbsp;экслюзивным новостям, мастер-классам, обучающему контенту и&nbsp;прямым эфирам со&nbsp;всей России</li>
            <li>Уроки от&nbsp;лучших представителей российской школы единобрств</li>
            <li>Полный архив соревнований и&nbsp;мастер-классов</li>
            <li>Доступ к&nbsp;первому в&nbsp;России онлайн &laquo;Факультету ММА&raquo;</li>
            <li>Возможность попасть в команду профессионалов ММА.рф</li>
        '
    }
]
 %}